html {
  background-image: url(https://image.freepik.com/free-vector/bright-background-with-dots_1055-3132.jpg);
  background-size: cover;
}
body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.header-wrapper {
  width: 70%;
}
.header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.list {
  padding-top: 11px !important;
}
.list h3 {
  text-align: center;
  border-bottom: 1px solid;
  padding-bottom: 5px;
  font-weight: normal;
}
.board-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.board-row {
  max-width: 340px;
}

.easy-board {
  max-width: 250px;
}

.normal-board {
  max-width: 500px;
}

.hard-board {
  max-width: 750px;
}

.game-mode {
  min-width: 170px !important;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square.free-point {
  background-color: #0066ff;
}

.square.user-point {
  background-color: #66ff99;
}

.square.comp-point {
  background-color: #ff6699;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-info {
  margin-left: 20px;
}
.alert {
  text-align: center;
  font-weight: bold;
  padding: 10px;
  margin-top: 30px;
  font-size: 2em;
}

.select-game {
  color: black !important;
  font-weight: bold;
}

.li-leader-board {
  border-bottom: 1px solid;
}

.name-input {
  padding: 0 30px;
}
